---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";

const postList = await getCollection("blog");
const blogPostList = postList.filter((post) => !post.data.draft);
---

<PageLayout title="Blog">
  <h2 class="header">Hey there! Welcome to my digital garden 🌱</h2>
  <div>
    {
      blogPostList
        .sort(
          (a, b) => b.data.updateDate.getTime() - a.data.updateDate.getTime()
        )
        .map((post) => {
          const { title, description, updateDate, tags } = post.data;
          return (
            <>
              <PostCard
                title={title}
                date={updateDate}
                description={description}
                tags={tags}
                slug={post.slug}
              />
            </>
          );
        })
    }
  </div>
</PageLayout>
<style>
  .header {
    margin-block-end: var(--space-extra-large);
  }
</style>
