---
import TagList from "./TagList.astro";

const { title, date, slug, description, tags } = Astro.props;

const link = `/blog/${slug}`;

const postDate = date.toLocaleDateString("en-uk", {
  day: "numeric",
  month: "short",
  year: "numeric",
});
---

<article class="post-card">
  <header>
    <h2>
      <a class="title" href={link}>
        {title}
      </a>
    </h2>
    <time>{postDate}</time>
  </header>
  <p class="description">{description}</p>
  <footer>
    <a href={link}>Read more <span class="link">&#8594</span></a>

    <TagList tags={tags} />
  </footer>
</article>

<style scoped>
  article {
    margin-block-end: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .title:hover {
    color: var(--base-color-grey);
  }

  time {
    color: var(--base-color-grey);
    text-align: end;
  }

  .description {
    padding-top: 16px;
    margin-block-end: 12px;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
  }

  a,
  span {
    font-weight: bold;
  }

  a .link {
    visibility: hidden;
  }
  a:hover .link {
    visibility: visible;
  }
</style>
