---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";
interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<article class="project">
  <h2>{project.data.title}</h2>
  <a href={project.data.link}>
    <img src={project.data.image} />
  </a>
  <div>
    <a href={project.data.link}>Deploy in {project.data.deploy}</a>
    <a href={project.data.gitHubLink}>View Code</a>
  </div>
  <Content />
  <TagList tags={project.data.tags} />
</article>
