---
import type { CollectionEntry } from "astro:content";
import Markdown from "../markdown/MarkdownComponent.astro";
import JobTag from "./JobTag.astro";
interface Props {
  job: CollectionEntry<"work">;
}

const { job } = Astro.props;
const tags = job.data.skills;
const { Content } = await job.render();
---

<article class="job">
  <header>
    <h3 class="title">
      {job.data.company} ({job.data.location})<span>
        - {job.data.jobTitle}</span
      >
    </h3>
    <p class="dates">{job.data.dates}</p>
    <ul>
      {tags && tags.map((tag) => <JobTag tag={tag} />)}
    </ul>
  </header>

  <Markdown>
    <Content />
  </Markdown>
</article>

<style scoped>
  .job {
    margin-bottom: var(--space-extra-large);
  }
  header {
    margin-bottom: var(--space-medium);
  }
  .title {
    font-weight: bolder;
    margin-bottom: var(--space-xxs);
  }
  .dates {
    line-height: 1em;
    font-size: var(--font-size-4);
    font-weight: bolder;
    color: var(--secondary-color);
    margin-bottom: var(--space-small);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-medium);
  }
</style>
